<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alex.rbac.mapper.ResourceMapper">

    <!-- 根据用户id获取权限id -->
    <select id="selectIdsByUserId" resultType="java.lang.Long">
        select
               id
        from
            resource
    </select>

</mapper>